<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>用户主页</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script type="text/javascript" src="templates/User/index.js"></script>
  </head>

  <body>
      <hr>
        用户： {{user.user_name}}
        <a href="{% url 'ask_question' %}">提问题</a>
        <a href="{% url 'logout' %}">登出</a>
      <hr>
      <h1>question list</h1>
      {% for question in question_list %}
        <a href="{% url 'question_info' %}?id={{question.id}}">问题id: {{question.id}}</a>
          提问者: {{question.author.user_name}}<br />
          答案: {{question.number_of_answer}}<br />
          <p>内容：{{question.question_text}}</p>
        <br />
      {% endfor %}
    </body>
</html>
